fastapi==0.112.1
python-dotenv==1.0.1
uvicorn==0.30.5
pytz==2024.1
starlette==0.38.2
tortoise-orm==0.20.1
ujson==5.10.0
cryptography==42.0.8
starlette-admin==0.14.1
redis==5.0.8
httpx==0.27.0
fastapi-cache2==0.2.2
itsdangerous==2.2.0
PyYAML==6.0.2
asyncpg==0.29.0
aiogram==3.12.0
deep-translator==1.11.4
tortoise-vector==0.1.1